<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuhui.codex">

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>  //写日历的权限，为了添加日历提醒

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/icon_codex"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_codex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarAlarmActivity"></activity>
    </application>

</manifest>